* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 65vw;
    padding: 2rem;
    margin: 0 auto;


}
.header_container{
    margin-bottom: 2.8rem;
}
.header_title{
margin-bottom:1rem ;
font-size: 1.7rem;
font-weight:700 ;
line-height: 2rem;
text-align: center;

}
.header_desc{
    /* max-width: 468px; */
    text-align: center;
    color: rgb(158, 153, 153);
    
}

.main_container{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(1,1fr);
    
}

@media (min-width:850px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 1400px){
    .main_container{
        grid-template-columns: repeat(3,1fr);
    }
}
/* @media (min-width: 1150px){
    .main_container{
        grid-template-columns: repeat(4,1fr);
    }
} */

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;

}
.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_image_container{
    position:relative; 
    overflow: hidden;
    height: 14rem;
}
.card_image{
    object-fit:cover ;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(34, 33, 33);
    line-height: 0.9rem;
    margin-bottom: 1rem;
}

.card_title:hover {
color: blueviolet;
}

.card_desc{
    color: rgb(42, 42, 42);
    font-size: 1rem;
}

.card_footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}

.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 50%;
    background-color: rgb(160, 160, 160);
}

.author_info_container{
    display: flex;
    flex-direction: column;
   
}
.author_name{
    color: rgb(25, 51, 154);
}
.author_date{
    color: rgb(68, 215, 0);
}

.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    line-height: 1.3rem;
    padding: .25rem 0.5rem;
    color: grey;
}

a {
    text-decoration: none;
}